
.mybutton {
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
button:active{background-color:red;}
body {background-color: black;}

.fwd_btns button{
    display: block;
    width: 150px;
}

.side_btns{
    border: 2px solid #999999;
}
.fwd_btns{
    border: 2px solid #999999;
}

.grid_container{
    display : inline-grid;
}



